.mainContainer {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    width: 625px;
    height: 445px;
    padding: 49px;
    background-color: lightcyan;
    border-radius: 34px;
}

.employeeManagement {
    color: purple;
    font-size: 49px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.forgotPassword {
    color: forestgreen;
    font-size: 49px;
    margin-bottom: 31px;
}

.inputs {
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    color: black;
    font-size: 22px;
}

.buttons {
    width: 84%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.forgotPasswordButton {
    background-color: blue;
    border: none;
    color: #fefdfd;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 23px;
    border-radius: 5px;
}
.loginInstead {
    position: relative;
    top: 10px;
    font-size:20px;
    margin-top:10px;
}

.placeHolders {
    color: black;
    width: 78%;
    height: 39px;
    border-radius: 3px;
    position: relative;
    bottom: 9px;
}