.mainContainer {
    display: flex;
    margin-top: 220px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: groove;
    width: 330px;
    padding: 20px;
    border-radius: 5px;
    background-color: lightgreen;
    border-radius: 20px;
}

.employeeManagement {
    color: purple;
    font-size: 30px;
}

.registration {
    color: forestgreen;
    font-size: 30px;
}

.inputs {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    color:red;
}

.buttons {
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color:aqua;
}

.loginInstead {
    position: relative;
    top: 10px;
}

.registrationButton {
    background-color: blue;
    border: none;
    color: #fefdfd;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 23px;
    border-radius: 5px;
}
.placeHolders {
    color: black;
    border-radius:3px;
}