#employee {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

    #employee td, #employee th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        width:auto
    }
h1 {
    color: purple;
    font-size: 49px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
#employee tr:nth-child(even) {
    background-color: #f2f2f2;
    width: auto
}

#employee tr:hover {
  background-color: #ddd;
}

#employee th {
  padding-top: 33px;
  padding-bottom: 37px;
 
  background-color: #4CAF50;
  color: white;
}

#edit {
    background-color: blue;
    border: none;
    color: #fefdfd;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 23px;
    border-radius: 5px;
}
#delete {
    background-color: red;
    border: none;
    color: #fefdfd;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px 23px;
    border-radius: 5px;
}
